form {
    font-family: Arial, Helvetica, sans-serif;
}
.personalData {
    width: 600px;
    height: 550px;    
}
.inputText {
    width: 320px;
    height: 140px; 
    text-align: start; 
}
.contactInformation {
    width: 600px;
    height: 120px;
}
