body {
    padding: 30px;
}
main {
    display: flex;
    flex-wrap: wrap;
}
header {
    background: lightblue;
    flex: 0 1 100%;
}
section {
    background: lightgreen;
    flex: 0 1 calc(75% - 2rem);
}
article {
    background: white;
    margin: 0 0 1rem 0;
}
aside {
    background: pink;
    flex: 0 1 25%;   
}
header, article, section, .module {
    padding: 1rem;
}