body {
    margin: 0;   
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
header {
    display: flex;     
    justify-content: space-between;
    background: #0067a3;
}
.leftBlock, .rightBlock {
    display: flex;
    align-items: center;
}
.menu {   
    padding: 0 3rem; 
}
.buttonMenu {
    background: transparent;
    border: none;
}
.imgMenu {
    width: 2.6rem;
    height: 2.6rem;
}
h1 {   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;   
    color: #FFFFFF;
}
.buttonCreateNewList {  
    display: flex;    
    height: 2.5rem;    
    background: #FFFFFF;
    border-radius: 5px;
    font-family: Roboto;   
    font-size: 1.3rem;       
}
.imgCreateNewList { 
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 0.9rem;
}
 .spanCreateNewList {
    white-space: nowrap;
}
.avatar {       
    padding-left: 3rem;
}
.borderAvatar {
    border: 0.05rem solid black;
    border-radius: 50%;
    background-color: #FFFFFF;  
    margin: 0 0.5rem;    
}
.imgAvatar {
    width: 2.5rem;
    height: 2.5rem;  
    padding: 0.3rem 0 0; 
}
.buttonUserMenu { 
    display: flex;
    align-items: center;    
    background: #0067a3;  
    color: #FFFFFF;
    border: 0; 
    font-size: 1.4rem;    
} 
.main {
    flex: 1;
    display: flex;
    background: #0079bf;
}
.footer {
    display: flex;
    min-height: 4rem;
    align-items: center;
    background: #0067a3;
    padding: 0 4rem;
}
.activeTasks {
    flex-basis: 20%; 
}
.finishTasks {
    flex-basis: 20%; 
}
.kanbanBoardBy {
    flex: 1;
    text-align: end; 
}
.labelActiveTasks, .labelFinishTasks, .labelKanbanBoardBy, .comma {
    font-family: Roboto;   
    font-size: 1.4rem;    
    color: #FFFFFF; 
}
.spanFooter {
    font-family: Roboto;   
    font-size: 1.4rem;    
    color: #FFFFFF; 
    white-space: nowrap;
}